

#header .navbar {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  background-color: #312f2f;
  padding: 0.5rem 0;
}

#header .navbar .nav_link {
  display: flex;              
  flex-wrap: wrap;            
  gap: 1rem;                  
  list-style: none;
  margin: 0;                  
  padding: 0;
}

/* Each link */
#header .navbar .nav_link a {
  display: block;
  color: #f0c674;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: transparent;    
  border: 0;
}

#header .navbar .nav_link a:hover {
  background-color: #39363644;
}