

.navbar {
    background-color: #312f2f;
    
}

.navbar ul {
    justify-content: center;
    gap: 1rem;
    list-style: none;

}

.navbar a {
    color:#f0c674;
    border-radius: 3px;
}

.navbar a:hover {
    background-color: #39363644;
}